body {
    display: grid;
    grid-template-areas: 'navbar'
        'banner'
        'main'
        'section'
        'contact'
        'footer';

        grid-template-columns: 100%;
        margin: 0;
}

}

#barra_verde {
    height:10px ;
    width: 100% ;
    background-color: #32dc32;
}

header {
    display: flex;
    grid-area: banner;
    background-image: url(../imagens/banner.png.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    justify-content: center;
    align-items: flex-end;
  
}

h1 {
    display: flex;
    color: white;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
}
